$color-full: (
    pinks: #dd2138,
    pink-hover: #c5293c,
    blues: #018abe,
    blue-hover:#017ead,
    greens: #08979d,
    green-hover: #007479,
    oranges: #ff5d56,
    orange-hover: #f4423a,
    yellows: #ffb55a,
    yellow-hover: #f1a547,
    purples: #952c94 ,
    purple-hover: #890d83,
);